<div class="container">
  <%= link_to lists_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h1><%= @list.name %></h1>

  <%= link_to "Add a movie to the list", new_list_bookmark_path(@list), class: "btn btn-primary" %>

  <p>There are <%= @list.movies.count %> movies</p>
  <div class="d-flex">
    <% @list.movies.each do |movie| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>)"> 
        <%= movie.title %>
      </div>
      
    <% end %>
    
  </div>
</div>