<div class="container">
  <h1>Add a movie to the <%= @list.name %></h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit "Add this movie to the list" %>
  <% end %>
</div>

